/*@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ixbqor');
  src:  url('../fonts/icomoon.eot?ixbqor#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ixbqor') format('truetype'),
  url('../fonts/icomoon.woff?ixbqor') format('woff'),
  url('../fonts/icomoon.svg?ixbqor#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;

}*/
@font-face {
  font-family: 'Bitter';
  src: local('Bitter'), local('Bitter-Regular'), url('../fonts/Bitter.woff2') format('woff2'), url('../fonts/Bitter.woff') format('woff'), url('../fonts/Bitter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
