@import "vars";
@import "fonts";
@import "base";
@import "libs";
@import "media";
@import "mixin";

/*header*/
.header{
  position: fixed;
  width:100%;
  top:0;
  z-index:100;
}
/*contacts__wrapper*/
.contacts__wrapper{
  background-color: #124266;
}
.contacts{
  display:flex;
  font-family: $font-roboto;
  justify-content: flex-end;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  @media screen and (max-width: 480px) {
    justify-content: space-around;
  }
}
.contacts__mail{
  color:$white;
  font-size: 16px;
  font-weight: 400;
  line-height:40px;
  margin-right: 20px;
  @media screen and (max-width: 991px) {
    display:none;
  }
}
.contacts__mail+.contacts__phone{
  &::before{
    @media screen and (max-width: 991px) {
      display:none;
    }
  }
}
.contacts__phone{
  position:relative;
  margin:0 20px;
  display:flex;
  align-items: center;
  &::before{
    content: "";
    width:1px;
    height:30px;
    position: absolute;
    left:-20px;
    background-color:#898989;
    top:5px;
    @media screen and (max-width: 768px) {
      left:-20px;
      height:20px
    }
    @media screen and (max-width: 650px) {
      left:-5px;
    }
    @media screen and (max-width: 480px) {
      left:calc(-10% - 10px);
    }
    @media screen and (max-width: 400px) {
      left:calc(-14% + 2px);
    }
  }
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
  @media screen and (max-width: 650px) {
    margin:0 10px 0 0;
  }
  img{
    width:15px;
    height:15px;
    @media screen and (max-width: 768px) {

    }
  }
}
.contacts__phone_last{
  @media screen and (max-width: 480px) {
    margin:0;
  }
}
.contacts__link{
  line-height:40px;
  margin-right:5px;
  @media screen and (max-width: 768px) {
    line-height: 30px;
  }
}

/*page-header*/

.page-header{
  box-shadow: 0 0 9px rgba(0,0,0,.4);
  border-style: solid;
  border-color: #DDE5F8;
  background-color: #FFFFFF;
  border-width: 0 0 3px;
}
.main-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-roboto;
  @media screen and (max-width: 991px) {
    justify-content: space-around;
  }
  @media screen and (max-width: 480px) {
    justify-content: space-between;
  }
}
.main-header__logo{
  margin-left:20px;
  @media screen and (max-width: 1199px) {
    margin-left:0;
    display:flex;
  }
  @media screen and (max-width: 600px) {
    max-width:100px;
    max-height:31px;
  }

}
.main-header__title{
  font-size:14px;
  color: #636363;
  position: relative;
  margin-right:20px;
  @media screen and (max-width: 1199px) {
    margin-right:0px;
  }
  @media screen and (max-width: 600px) {
    font-size:12px;
  }
  @media screen and (max-width: 480px) {
    font-size:11px;
  }
  &::before{
    content:"";
    width:1px;
    height:45px;
    position: absolute;
    left:-20px;
    background-color:#898989;
    top:3px;
    @media screen and (max-width: 1199px) {
      left:-10px;
    }
    @media screen and (max-width: 991px) {
      left:-50px;
    }
    @media screen and (max-width: 768px) {
      left:-30px;
    }
    @media screen and (max-width: 600px) {
      height:30px;
      top:5px;
    }
    @media screen and (max-width: 480px) {
      left:-3vw;
    }
    @media screen and (max-width: 370px) {
      left:-1.5vw;
    }
  }
}
.main-menu{
  display:flex;
  @media screen and (max-width: 991px) {
    display:none;
  }
}
.mobile-menu{
  display: flex;
  align-items: center;
  @media screen and (min-width: 992px) {
    display:none;
  }
  @media screen and (max-width: 600px) {
    padding-top:0px;
    width:20px;
  }
}
.main-menu__link{
  color:$black;
  font-size:16px;
  font-weight: 400;
  line-height:60px;
  position: relative;
  padding:0 15px;
  @media screen and (max-width: 1199px) {
    padding:0 5px;
    font-size:15px;
  }
  &:before{
    content:"";
    opacity: 0;
    position: absolute;
    width:100%;
    height:3px;
    background-color: #0078B5;
    bottom:-3px;
    left:0;
    transition: opacity 0.2s;
  }
  &:hover{
    color: #0078B5;
    &::before{
      opacity: 1;
    }
  }
}
.mobile-menu__list{
  position: absolute;
  width:90%;
  left:50%;
  margin-left:-45%;
  top:98px;
  background-color: $white;
  text-align: center;
  display:none;
  z-index:11;
  box-shadow: 0 0 20px rgba(0,0,0, .5);
  @media screen and (max-width: 768px) {
    top:88px;
  }
  @media screen and (max-width: 600px) {
    top:80px;
  }
}
.mobile-menu__item{
  border-bottom:1px solid #808080;
  a{
    line-height:35px;
    color:$black;
    width:100%;
    @media screen and (max-width: 480px) {
      line-height:30px;
    }
  }
}
/*main*/
.main{
  margin-top:103px;
  overflow: hidden;
  @media screen and (max-width: 991px) {
    margin-top:98px;
  }
  @media screen and (max-width: 768px) {
    margin-top:88px;
  }
  @media screen and (max-width: 600px) {
    margin-top:72px;
  }
}
/*main__offer*/
.main__offer{
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  padding:30px 0;
}
.main__offer_wrapper{
  text-align:center;

}
.offer__title{
  font-size:48px;
  color:$white;
  font-weight: 400;
  line-height: 62px;
  margin-top:70px;
  margin-bottom:110px;
  text-shadow: 2px 2px 0 #000;
  letter-spacing: 1px;
  @media screen and (max-width: 768px) {
    font-size:36px;
    margin-top:30px;
    margin-bottom:50px;
    line-height: normal;
  }
  @media screen and (max-width: 480px) {
   font-size:30px;
    margin-top:20px;
  }
}
.offer__text{
  color:$white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
  @media screen and (max-width: 768px) {
    font-size:18px;
    line-height: normal;
  }
  @media screen and (max-width: 480px) {
    font-size:16px;
    padding:0 30px;
    margin-bottom:30px;
  }
}
.offer__form{
  display:inline-flex;
  background-color: rgba(255,255,255, .2);
  padding:20px;
  border-radius: 30px;
  position:relative;
  &::after{
    content:"";
    background: url("../images/arrow.png") no-repeat;
    position:absolute;
    right:-60px;
    top:0;
    width:46px;
    height:51px;
    @media screen and (max-width: 480px) {
      transform: rotate(-45deg);
      width:30px;
      height:33px;
      background-size: contain;
      right:-40px;
      top:-20px;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 40px 20px;
  }
}
.offer__input{
@extend %input-type-text;
  border:1px solid transparent;
}

.offer__input_type_submit{
  @extend %input-type-submit;
}
%pseudo-element{
  content:"";
  width:2px;
  height:17px;
  position: absolute;
  top:14px;
  background-color:$white;
  left:50%;
  &:hover{
    background-color: #fee067;
  }
}
.offer__check{
  box-sizing: border-box;
  display:block;
  margin:0 auto;
  border:1px solid $white;
  border-radius: 50%;
  width:50px;
  height:50px;
  position: relative;
  margin-top:50px;
  cursor:pointer;
  @media screen and (max-width: 768px) {
    display:none;
  }
  &::after{
    @extend %pseudo-element;
    transform-origin: bottom;
    transform: rotate(45deg);
    @media screen and (max-width: 768px) {
      display:none;
    }
  }
  &::before{
    @extend %pseudo-element;
    transform-origin: bottom;
    transform: rotate(-45deg);
    @media screen and (max-width: 768px) {
      display:none;
    }
  }
  &:hover{
    border-color: #fee067;
  }
}
/*main__description*/
.main__description{
  background: url("../images/background-section.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding:60px 0;
  @media screen and (max-width: 768px) {
    padding:20px 0;
  }
  @media screen and (max-width: 480px) {
    background-position: left center;
  }
}
.main__description-wrapper{

}
.description{
  display:flex;
}
.main__description__title{
  position: relative;
  text-align:left;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  @extend %title-with-two-lines-mobile;
}

.description__text{
  flex-grow:3;
  flex-basis: 33.3%;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.description__text_item{
  @extend %text-roboto-16px;
}
.description__image-block{
  max-width:488px;
  flex-grow:1;
  flex-basis: 33.3%;
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.description__text_item{
  @media screen and (max-width: 768px) {
    font-size:14px;
  }
}

/*conditioner section*/

.conditioner{
  background: url('../images/background-section1.jpg') no-repeat center bottom;
  background-size: cover;
}
.conditioner-offer{
  display:flex;
  align-items:center;
  padding:50px 0 120px;
  @media screen and (max-width: 768px) {
    padding:40px 0 80px;
  }
  @media screen and (max-width: 480px) {
    padding:30px 0 80px;
  }
}
.conditioner-offer__title{
  &::before{
    right:-30px;
    left:auto;
    bottom:10px;
    top:auto;
    @media screen and (max-width: 768px) {
      left:calc(0% - 65px);
      right:auto;
      bottom:auto;
      top:50%;
    }
  }
}
.conditioner-offer__item{
  flex-basis: 50%;
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}
.conditioner-offer__text-block{
  text-align: center;
}
.conditioner-offer__image-block{
  @media screen and (max-width: 1191px) {
  margin-right:50px;
  }
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.conditioner-offer__img-mobile-box{
  display:none;
  @media screen and (max-width: 768px) {
    display:block;
  }
}
.conditioner-offer__text_item{
  line-height: 24px;
  color: #252525;
  font-size: 16px;
  font-family: $font-roboto;
  font-weight: 400;
  @media screen and (max-width: 480px) {
    line-height: 20px;
    font-size:14px;
  }
}
.conditioner-offer__btn-block{
  margin-top:40px;
  @media screen and (max-width: 480px) {
    margin-top:20px;
  }
}
.conditioner-offer__button{
  @extend %orange-button;
  text-transform: none;
}

/*popup*/
.offer-popup{
  display:none;
  width:410px;
  min-height:580px;
  background: url('../images/popup.jpg') no-repeat center center;
  background-size: cover;
  padding: 230px 0 30px;
  border-radius: 15px;
  max-height:95vh;
  text-align: center;
  @media screen and (max-width: 480px) {
    width:310px;
    min-height: 400px;
    padding:210px 0 20px;
  }
}
.paragraph__text{
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color:$black;
  margin:0;
  @media screen and (max-width: 480px) {
    font-size:15px;
    line-height: 24px;
  }
}
.blue-text{
  color: #0071BC;
  font-weight: 700;
}
.popup-form{
  @extend %vetical-form;
}
.popup-form__input{
  @extend %input-type-text;
  min-width: 300px;
  max-width:100%;
  text-align: center;
  margin: 0 0 10px;
  &:focus{
    border: 1px solid #0078B5;
  }
  @media screen and (max-width: 480px) {
    min-width:260px;
  }
}
.popup-form__submit{
  @extend %input-type-submit;
  margin-top:15px;
  height:50px;
  box-shadow: 0 9px 16px rgba(178,125,23,0.5);
  @media screen and (max-width: 480px) {
    height:40px;
    width:180px;
  }
}

/*section virtues*/
.virtues{
  text-align: center;
  background-color: $white;
}
.virtues__title{
  text-align:center;
  display:inline-block;
}
.title-with-two-blue-lines{
  position: relative;
  display: inline-block;
  &::before{
    @extend %line-near-title;
    left: 0;
    transform: translate(-80px);
  }
  &::after{
    @extend %line-near-title;
    right:0;
    transform: translate(80px);
  }
}

.virtues-box__item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border:3px solid #25A1DD;
  margin-top:60px;
  padding:20px 60px 0;
  margin-bottom:80px;
  @media screen and (max-width: 991px) {
   padding:20px 40px 0;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (max-width: 480px) {
    padding:0px 20px 20px;
    margin-bottom:40px;
  }
}
.virtues-box__image-box{
  position: relative;
  border:1px solid $white;
  box-shadow: 6px 6px 8px rgba(27,20,100,0.15);
  margin-top:-50px;
  margin-bottom:30px;
  overflow: hidden;
  left:-30px;
  align-self:flex-start;
  @media screen and (max-width: 768px) {
    align-self: center;
    left:0;
    margin:-70px 0 10px;
  }
  @media screen and (max-width: 480px) {
    margin:-30px 0 10px;
  }
}
.virtues-box__image-box-right{
  left:auto;
  right:-30px;
  @media screen and (max-width: 768px) {
    order:-1;
    right:0;
  }
}
.virtues-box__image{
  object-fit: cover;
  max-height:460px;
  display: block;
}
.virtues-box__text-box{
  flex-basis:45%;
  text-align: left;
  margin-right:50px;
  @media screen and (max-width: 1199px) {
    margin-right:10px;
    flex-basis:50%;
  }
  @media screen and (max-width: 991px) {
    margin:0;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.virtues-box__blue-line{
  width:320px;
  height:1px;
  background-color: #25A1DD;
  @media screen and (max-width: 768px) {
    display:inline-block;
  }
  @media screen and (max-width: 480px) {
    width:250px;
  }
}
.virtues-box__title{
  line-height: 22px;
  font-size: 18px;
  @media screen and (max-width: 480px) {
    font-size:16px;
    font-weight: 400;
    line-height: 26px;
    margin:0;
  }
}

/*section arguments*/
.arguments{
  background: transparent url('../images/background-arguments.jpg') no-repeat center top;
  background-size: cover;
  padding:40px 0 80px;
  @media screen and (max-width: 480px) {
    padding:40px 0 40px;
  }
}
.arguments-box{
  display:flex;
  text-align: left;
  justify-content: space-between;
  margin-top:50px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
  @media screen and (max-width: 480px) {
    justify-content: space-between;
  }
}
.arguments-block__item{
  max-width:270px;
  @media screen and (max-width: 1199px) {
    max-width:220px;
  }
  @media screen and (max-width: 991px) {
    max-width:190px;
  }
  @media screen and (max-width: 768px) {
    max-width:250px;
  }
  @media screen and (max-width: 600px) {
    max-width:220px;
  }
  @media screen and (max-width: 480px) {
    max-width:170px;
  }
  @media screen and (max-width: 400px) {
    max-width:140px;
  }
}
.arguments-block__img{
  @media screen and (max-width: 480px) {
    max-width:50px;
  }
}
/*section download*/

.download{
  background: transparent url('../images/bg-download.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}
.download-box{
  display:flex;
  padding:110px 0 120px;
  @media screen and (max-width: 768px) {
    justify-content: center;
    text-align: center;
    padding:50px 0;
  }
  @media screen and (max-width: 480px) {
    padding:20px 0 50px;
  }
}
.download-block{

}
.download__button{
  @extend %orange-button;
  box-shadow: 0px 9px 16px rgba(0,0,0,0.5);
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.download-image-block{
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.download-image{
  height:543px;
  position: absolute;
  top:-50px;
  right:0;
  @media screen and (max-width: 1199px) {
    right: calc(0% - 150px);
  }
  @media screen and (max-width: 991px) {
    right: calc(50% - 800px);
  }
}
.download-text{
  line-height: 45px;
  color: $white;
  font-size: 30px;
  margin-bottom: 50px;
  @media screen and (max-width: 1199px) {
    font-size:28px;
  }
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.download__title{
  display:none;
  color:$white;
  line-height: 32px;
  &::before,&::after{
    background-color: $white;
  }
  @media screen and (max-width: 768px) {
    display:block;
  }
  @media screen and (max-width: 480px) {
    line-height: 28px;
  }
}
.download__mobile-text{
  color:$white;
  display:none;
  @media screen and (max-width: 768px) {
    display:block;
  }
  @media screen and (max-width: 480px) {
    font-size:13px;

  }
}
.download-form{
  @extend %vetical-form;
  display:none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 30px;
  margin-top:20px;
  @media screen and (max-width: 768px) {
    display:inline-flex;
  }
  &::after{
    right:-30px;
    @media screen and (max-width: 480px) {
      right:-25px;
    }
  }
}
.download-form__input{
  @extend %input-type-text;
}
.download-form__submit{
  @extend %input-type-submit;
  box-shadow: 0px 9px 16px rgba(0,0,0,0.5);
}

/*buy-offer section*/

.buy-offer__title{
  color:$white;
}
.buy-offer{
  background: transparent url('../images/bg-buy-offer.jpg') no-repeat center center;
  background-size: cover;
  padding:20px 0 70px;
  text-align: center;
}
.buy-offer__block{
  display:flex;
  justify-content: center;
  margin-top:20px;
  @media screen and (max-width: 991px) {
    margin:0;
  }
}
.buy-offer__item{
  text-align: center;
}
.buy-offer__item-title{
  font-family:$font-fredoka;
  font-size: 216px;
  font-weight: 400;
  color:$white;
  margin:0;
  @media screen and (max-width: 991px) {
    font-size:160px;
  }
  @media screen and (max-width: 768px) {
    font-size:120px;
  }
  @media screen and (max-width: 560px) {
    font-size:100px;
  }
  @media screen and (max-width: 420px) {
    font-size:80px;
  }
}
.vertical-line-after-title{
  width: 1px;
  height: 176px;
  background-color: $white;
  position: relative;
  top: 40px;
  margin:0 40px;
  @media screen and (max-width: 768px) {
    top:30px;
    margin:0 25px;
    height:120px;
  }
  @media screen and (max-width: 560px) {
    margin:0 15px;
  }
  @media screen and (max-width: 480px) {
    height:70px;
    top:20px;
  }
}
.buy-offer__item-title_small{
  font-size: 80px;
  @media screen and (max-width: 768px) {
    font-size:60px;
  }
  @media screen and (max-width: 560px) {
    font-size:40px;
  }
  @media screen and (max-width: 420px) {
    font-size:30px;
  }
}

.buy-offer-end{
  background: transparent url('../images/bg-buy-offer-add.jpg') no-repeat center top;
  background-size: cover;
  height: 16px;
}
.buy-offer__title-box{
  display:inline-block;
  margin:0 auto;
  position: relative;
}
.buy-offer__absolute-img{
  position: absolute;
  width:327px;
  height:126px;
  bottom: -60px;
  right:-80px;
  @media screen and (max-width: 991px) {
    right:100px;
  }
  @media screen and (max-width: 480px) {
    width:220px;
    height:80px;
    bottom:-40px;
    right:20px;
  }
}
.buy-offer__item-subtitle{
  line-height: 31px;
  color: $white;
  font-size: 26px;
  margin-top:10px;
  @media screen and (max-width: 768px) {
    font-size:22px;
  }
  @media screen and (max-width: 480px) {
    font-size:16px;
    line-height: 20px;
    margin:0;
  }
}

/*advantages section*/
.advantages{
  text-align: center;
  padding:60px 0 80px;
  @media screen and (max-width: 1199px) {
    padding:60px 0;
  }
  @media screen and (max-width: 480px) {
    padding:40px 0 10px;
  }
}
.advantages__title{
  margin-top:0;

    &::before {
      @extend %line-near-title;
      @media screen and (max-width: 480px) {

        left: 0;
        transform: translate(-120px);
      }
    }
    &::after{
      @extend %line-near-title;
      @media screen and (max-width: 480px) {

        right: 0;
        transform: translate(120px);
      }
    }


}
.advantages-block{
  display:flex;
  justify-content: space-between;
  margin-top:50px;
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    margin-top:30px;
  }
}
.advantages-block__card{
  box-shadow: 6px 6px 8px rgba(27,20,100,0.15);
  border:1px solid #E9E9E9;
  max-width:264px;
  position: relative;
  @media screen and (max-width: 1199px) {
    max-width:230px;
  }
  @media screen and (max-width: 991px) {
    max-width:300px;
    margin-bottom:30px;
  }
  @media screen and (max-width: 768px) {
    max-width:100%;
  }
}
.advantages-block__card-title{
  font-size: 18px;
  border-bottom:1px solid #25A1DD;
  margin:0;
  line-height:50px;
  font-weight: 400;
  @media screen and (max-width: 480px) {
    font-size:15px;
  }
}
.advantages-block__image{
  width: 264px;
  height: 170px;
  object-fit: cover;
  @media screen and (max-width: 1199px) {
    width:230px;
    height:160px;
  }
  @media screen and (max-width: 991px) {
    width:300px;
    height:200px;
  }
  @media screen and (max-width: 768px) {
    width:100%;
    height:210px;
  }
}
.advantages-block__text{
  padding:17px;
  margin:0;
}
.advantages-block__down-line{
  position: absolute;
  height:5px;
  width:74px;
  left:50%;
  margin-left: -37px;
  bottom:-2.5px;
  background-color: #25A1DD;
}
/*section statistic*/

.statistic{
  background: transparent url('../images/background-arguments.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
}
.statistic-block{
  display: flex;
  justify-content: center;
  padding:80px 0 50px;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}
.statistic-block__item{
  display: flex;
  flex-direction: column;
  text-align: center;
}
%statistic-text{
  color: #25A1DD;
  font-family: $font-roboto;
  font-weight: 900;
  margin:0;
}
.statistic-block__text_big{
@extend %statistic-text;
  font-size: 60px;
  line-height: 90px;
  @media screen and (max-width: 768px) {
    font-size:50px;
    line-height:70px;
  }
}
.statistic-block__text_small{
  @extend %statistic-text;
  font-size: 18px;
  line-height: 27px;
  @media screen and (max-width: 768px) {
    font-size:16px;
  }
}
.vertical-blue-line{
  width: 1px;
  height: 148px;
  background-color: #25A1DD;
  margin:0 55px;
}
.prev-arrow-statistic{
  @extend %slick-arrow;
  background: transparent url('../images/arrow-left.png') no-repeat center center;
  background-size: contain;
  left:calc(50% - 180px);
  @media screen and (max-width: 480px) {
    left:calc(50% - 150px);
  }
}
.next-arrow-statistic{
  @extend %slick-arrow;
  background: transparent url('../images/arrow-right.png') no-repeat center center;
  background-size: contain;
  right:calc(50% - 180px);
  @media screen and (max-width: 480px) {
    right:calc(50% - 150px);
  }
}
/*article articles*/
.articles{
  background-color: #F3F8FE;
  text-align: center;
  padding-bottom:10px;
}
.articles__title{
  @media screen and (max-width: 768px) {
    margin:30px 0;
  }
}
.articles__block{
  display:flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.article-card{
  position: relative;
  max-width: 362px;
  border:1px solid #DCDCDC;
  background-color: $white;
  text-align: left;
  @media screen and (max-width: 1199px) {
    max-width: 300px;
  }
  @media screen and (max-width: 991px) {
    max-width: 240px;
  }
  @media screen and (max-width: 768px) {
    max-width: 400px;
    margin-bottom:30px;
  }
  @media screen and (max-width: 480px) {
    max-width: 85%;
    margin-bottom:20px;
  }
}
.article__text-block{
  padding:10px 15px;
  @media screen and (max-width: 480px) {
    padding:0 15px;
  }
}
.article__link{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.article__img{
  width:363px;
  height:214px;
  object-fit: cover;
  @media screen and (max-width: 768px) {
    width:400px;
  }
}

.article__pseudo-link{
  @extend %text-with-roboto-300;
  color: #0785F2;
}
.article__subtitle{
  line-height: 27px;
  color: #041E41;
  font-size: 18px;
  font-family: $font-roboto;
  font-weight: 700;
  @media screen and (max-width: 480px) {
    line-height: 22px;
    font-size:14px;
  }
}
.article__text{
  @extend %text-with-roboto-300;

}
.articles__view-more-block{
  margin:0;
}
.article__view-more{
  line-height: 40px;
  padding:20px;
  @media screen and (max-width: 480px) {
    padding:0;
  }
}

/*section reviews*/
.reviews{
  padding:20px 0 50px;
  position: relative;
  .slick-list{
    padding:10px 0;
  }
  @media screen and (max-width: 480px) {
    padding:20px 0;
  }
}
.reviews-block{
  display:flex;
  justify-content: space-between;
  padding:20px 0;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.review__item{
  box-shadow: 6px 6px 8px rgba(27,20,100,0.15);
  border:1px solid #E9E9E9;
  background-color: $white;
  max-width:360px;
  text-align:center;
  padding:30px 20px 10px;
  position: relative;
  @media screen and (max-width: 1199px) {
    max-width:300px;
  }
  @media screen and (max-width: 991px) {
    max-width:240px;
  }
  @media screen and (max-width: 768px) {
    max-width:370px;
  }
  @media screen and (max-width: 480px) {
    max-width:270px;
  }
}
.review__img-box{
  border-radius: 50%;
  overflow: hidden;
  width:120px;
  height:120px;
  display: inline-block;
  @media screen and (max-width: 480px) {
    width:90px;
    height:90px;
  }
}
.review__title{
  font-weight: 400;
  line-height: 50px;
  border-bottom:1px solid #25A1DD;
  @media screen and (max-width: 991px) {
    font-size:17px;
  }
  @media screen and (max-width: 480px) {
    font-size:14px;
  }
}
.review__text{
  @extend %text-roboto-16px;
  text-align: justify;
  font-style: italic;
}
.review__down-line{
  width: 68px;
  height: 10px;
  background-color: #25A1DD;
  position: absolute;
  bottom:0;
  left:50%;
  margin-left:-34px;
}
.prev-arrow-review{
  @extend %slick-arrow;
  background: transparent url('../images/arrow-left.png') no-repeat center center;
  background-size: contain;
  left:calc(50% - 240px);
  @media screen and (max-width: 480px) {
    left:calc(50% - 180px);
  }
}
.next-arrow-review{
  @extend %slick-arrow;
  background: transparent url('../images/arrow-right.png') no-repeat center center;
  background-size: contain;
  right:calc(50% - 240px);
  @media screen and (max-width: 480px) {
    right:calc(50% - 180px);
  }
}
.map{
  min-height: 450px;
  iframe{
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    min-height: auto;
  }
}
.map-link{
  display:none;
  @media screen and (max-width: 768px) {
    width:100%;
    display:block;
    text-align: center;
  }
  a{

  }
}
/*questions*/

.questions-block{
  display:flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding:40px 0;
  }
}
.questions-block__item{

}
.questions__text-block{
  text-align: center;
}
.questions-block__title{
  margin:0 0 50px;
  @media screen and (max-width: 768px) {
    margin:0 0 20px;
  }
}
.questions-block__subtitle{
  line-height: 22px;
  margin:20px 0;
  @media screen and (max-width: 480px) {
    font-size:13px;
  }
}
.questions__image-block{
  max-height: 650px;
  overflow: hidden;
  margin-right: 60px;
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.questions__image{
  object-fit: cover;
}

.questions__input{
  @extend %input-type-text;
  min-width: 340px;
  max-width:100%;
  text-align: center;
  margin: 0 0 20px;
  &:focus{
    border: 1px solid #0078B5;
  }
  @media screen and (max-width: 480px) {
    min-width:280px;
  }
}
.questions__form{
  @extend %vetical-form;
  @media screen and (max-width: 768px) {
    margin-top:0;
    &::after{
      right:15px;
    }
  }
}
.questions__input-submit{
  @extend %input-type-submit;
  margin-top:15px;
  height:50px;
  box-shadow: 0 9px 16px rgba(178,125,23,0.5);
}

/*footer*/
.footer{
  background-color: #123E5D;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.footer-block{
  display:flex;
  justify-content: space-between;
  align-items:center;
  @media screen and (max-width: 480px) {
    padding:20px 0;
  }
}
.footer__logo{
  @media screen and (max-width: 480px) {
    max-width:130px;
    max-height:45px;
  }
}
.footer__logo-block{
  display:flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: space-around;
    flex-grow:1;
  }
  @media screen and (max-width: 480px) {
    justify-content: center;
  }
}
.footer__title{
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color:$white;
  @media screen and (max-width: 480px) {
    font-size:10px;
    line-height:14px;
  }
}
.footer__details{
  text-align:right;
  font-size:13px;
  color:$white;
  line-height: 16px;
  @media screen and (max-width: 768px) {
    display:none;
  }
}
.vertical-white-line{
  width:1px;
  height:44px;
  background-color: $white;
  margin:0 15px;
  @media screen and (max-width: 480px) {
    height:35px;
  }
}




